.petshop {
  list-style: none;
  padding: 7px;
  margin-right: 20px;
  border-radius: 5px;
  border-bottom: 3px;
}
.petshop img {
  width: 80px;
  border-radius: 5px;
}
.petshop b {
  margin-bottom: 0px;
}
.petshop-infor span {
  vertical-align: middle;
  color: var(--icon-color);
}
.petshop-infor span.mdi-star {
  color: var(--icon-color2);
}

.petshop-infor small {
  font-size: 14px;
  margin-right: 10px;
  vertical-align: baseline;
  color: var(--icon-color);
}
